/*------------------------------------------------------------------
[Table of contents]

 - Blog
 - Blog posts
 - Blog two
 - Article

- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

.carousel{
    margin-right: 50px;
}
.carousel-indicators{
    position: absolute;
    bottom: 25px;
    left: 21%;
    font-size: 0;
}
.carousel-indicators-sm{
    display: none;
}
.carousel-indicators li{
    all: unset;
}
.carousel-indicators li.active{
    all: unset;
}
.carousel-inner {
    margin-bottom: 30px;
    height: 310px;
}
.carousel-inner .item{
    height: 310px;
}

/*Page Header */
header{
    border: none;
}
.b-pageHeader{
    padding: 40px 0;
    background: url(../img/pageHead.jpg) center;
    background-size: cover;
}

.b-pageHeader h1{
    font:700 30px 'PT Sans',sans-serif;
    float:left;
    margin: 0;
    color: white;
}

.b-pageHeader__search{
    padding:10px 15px ;
    float:right;
    background-color: #f76d2b;
}

.b-pageHeader__search h3{
    font: 400 13px 'Open Sans',sans-serif;
    margin: 0;
    padding: 3px 10px;
    border-left:3px solid #fff;
    border-right:3px solid #fff;
    color: white;
}


/* Bread Cumbs */
.b-breadCumbs{
    padding: 20px 0;
}
.b-breadCumbs__page:hover{
    color: #999;
}
.b-breadCumbs__page.m-active:hover{
    color: #545454;
}
.b-breadCumbs__page{
    font: 400 11px 'Open Sans',sans-serif;
    color: #999;
}
a.b-breadCumbs__page.m-active{
    color: #545454;
}
.b-breadCumbs span.fa{
    font-size:11px;
    margin: 0 10px;
    color: #545454;
}
/* Blog */
.b-blog{
    padding: 65px 0 135px 0;
}

.b-blog__aside-search{
    margin-bottom: 40px;
}

.b-blog__aside-search > div{
    position: relative;
}

.b-blog__aside-search button{
    background: transparent;
    position: absolute;
    border: none;
    display: inline-block;
    top:50%;
    font-size:16px;
    margin-top: -12px;
    right:15px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.b-blog__aside-search button:focus{
    outline: none;
}

.b-blog__aside-search input[type='text']{
    display: block;
    width: 100%;
    padding: 12px 20px;
    font: 400 12px 'Open Sans',sans-serif;
    border: 1px solid #eeeeee;
    border-radius: 30px;
}

.b-blog__aside-search input[type='text']:focus{
    outline: none;
}

.b-blog__aside-categories{
    margin-bottom: 40px;
}

.b-blog__aside h2{
    font: 700 15px 'Open Sans',sans-serif;
    text-transform: uppercase;
    padding-left: 12px;
    margin: 0;
    color: #000;
    border-left: 4px solid #f76d2b;
}
.s-lineDownLeft:after {
    background: url(../img/chevron-down.png) center no-repeat;
    width: 15px;
    left: 5%;
    height: 7px;
    content: '';
    position: absolute;
    top: 100%;
    display: block;
}
.s-lineDownLeft {
    text-align: left;
    border-bottom: 1px solid #B4B4B4;
    position: relative;
}
.b-blog__aside header{
    padding-bottom: 15px;
    margin: 0 0 40px 0;
}

.b-blog__aside header:after{
    left:30px;
}

.b-blog__aside-categories-list{
    padding-left: 0;
    margin: 0;
    list-style:none;
}

.b-blog__aside-categories-list li{
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid #eeeeee;
    cursor:pointer;
}

.b-blog__aside-categories-list li:hover a,.b-blog__aside-categories-list li.m-active a{
    font-weight:700;
}

.b-blog__aside-categories-list li a{
    display: inline-block;
    padding:2px 0 2px 15px;
    font: 400 13px 'Open Sans',sans-serif;
    border-left:2px solid #ddd;
    color: #555 !important;
}
.b-blog__aside-categories-list li:hover a, .b-blog__aside-categories-list li.m-active a {
    font-weight: 700;
    color: #f76d2b !important;
    border-color: #f76d2b;
}

.b-blog__aside-categories-list li a:hover,.b-blog__aside-categories-list li a:visited,.b-blog__aside-categories-list li a:active,.b-blog__aside-categories-list li a:focus{
    text-decoration: none;
}

.b-blog__aside-popular{
    margin-bottom: 55px;
}

.b-blog__aside-popular-posts{
    overflow: hidden;
}

.b-blog__aside-popular-posts h4 a{
   color: #525252 !important;
   font: 600 14px 'Open Sans',sans-serif;
   padding-left: 3px;
   margin: 15px 0 10px 0;
}

.b-blog__aside-popular-posts-one{
    margin-bottom: 35px;
}

.b-blog__aside-popular-posts-one-date{
    color: #555;
    padding-left: 3px;
    font: 600 11px 'Open Sans',sans-serif;
}

.b-blog__aside-popular-posts-one-date span.fa{
    font-size:16px;
    margin-right: 13px;
    vertical-align: bottom;
}

.b-blog__aside-text{
    margin-bottom: 50px;
}
.s-lineDownLeft {
    padding-bottom: 15px;
    float: left;
    margin-bottom: 40px;

    text-align: left;
    border-bottom: 1px solid #B4B4B4;
    position: relative;
}
header.s-lineDownLeft {
    float: none;
}
.s-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
}
.s-list li {
    font: 300 13px 'Open Sans',sans-serif;
    margin-bottom: 10px;
    color: #666;
}

.s-list li span.fa {
    font-size: 16px;
    margin-right: 10px;
}
.s-titleLeft h2 {
    color: #202020;
    margin: 0;
    padding-right: 8px;
    font: 700 15px 'Open Sans',sans-serif;
    text-transform: uppercase;
    padding-left: 12px;
    border-left: 4px solid #f76d2b;
}
.b-blog__aside-text p{
    font: 300 13px 'Open Sans',sans-serif;
    margin: 0;
    color: #666;
}

.b-blog__aside-reviews{
    margin-bottom: 40px;
}

.b-blog__aside-reviews-posts-one{
    padding-bottom: 18px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;  
}

.b-blog__aside-reviews-posts-one:last-child{
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.b-blog__aside-reviews-posts-one-info{
    margin-left: 5px; 
}

.b-blog__aside-reviews-posts-one-info p{
    font: 600 14px 'Open Sans',sans-serif;
    margin: 3px 0 15px 0;
}

.b-blog__aside-reviews-posts-one-info .b-world__item-val{
    margin: 0;
}

.b-blog__aside-reviews-posts-one-info .b-world__item-num{
    padding: 1px 12px;
}

.b-blog__aside-archives{
    margin-bottom: 55px;   
}

.b-blog__aside .b-detail__main-aside-about-call{
    padding-left: 65px;
    margin-top: 25px;
    color: #FFF;
    background-color: #555;
}

.b-blog__posts{
    padding-top: 15px;
    overflow: hidden;
}

.b-blog__posts-one{
    padding-bottom: 45px;
    border-bottom: 1px solid #eee;
    margin-bottom: 45px;
}

.b-blog__posts-one-author-img{
    width:70px;
    height:70px;
    border-radius: 100%;
    background: url(../img/author.jpg) center center no-repeat;
    margin-bottom: 35px;
}

.b-blog__posts-one-author{
    width:70px;
}

.b-blog__posts-one-share{
    font: 400 10px 'Open Sans',sans-serif;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.b-blog__posts-one-social{
    text-align: center;
    font-size:20px;
    line-height:25px;
}

.row.m-noBlockPadding{
    margin: 0;
}

.row.m-noBlockPadding > div{
    padding: 0;
}


/* Blog posts */

.b-blog__posts-one-body{
   margin-left: 25px; 
}

.b-blog__posts-one-body-head{
    margin-bottom: 25px;
}

.b-blog__posts-one-body-head-notes{
    overflow: hidden;
}

.b-blog__posts-one-body-head h2{
    padding-left: 12px;
    font-size:22px;
    text-transform: none;
    margin: 10px 0 20px 0;
}

.b-blog__posts-one-body-head-notes-note{
    margin-right: 15px;
    font: 400 11px 'Open Sans',sans-serif;
    color: #999;
}

.b-blog__posts-one-body-head-notes-note span.fa{
    font-size:16px;
    margin-right: 7px;
    color: #999;
}

.b-blog__posts-one-body-head-notes-note span.fa-tags{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.b-blog__posts-one-body-main-img{
    position: relative;
    margin-bottom: 30px;
}

.b-blog__posts-one-body-main-img-small{
    position: absolute;
    bottom: 15px;
    left:15px;
    font-size:0;
}

.b-blog__posts-one-body-main-img-small a{
    position: relative;
    display: inline-block;
}

.b-blog__posts-one-body-main-img-small a:after{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.6);
    content: '';
    top: 0;
    display: none;
}

.b-blog__posts-one-body-main-img-small a:hover:after{
    display: block;
}

.b-blog__posts-one  p{
    font: 300 13px 'Open Sans',sans-serif;
    margin: 0 0 50px 0;
    line-height:1.9;
    color: #666;
}
.b-blog__posts-one  p a{
    color: #f76d2b !important;
}
.b-blog__posts-one blockquote {
    font: 400 13px 'Open Sans',sans-serif !important;
    padding: 0 0 0 15px !important;
    line-height: 1.9;
    border-left: 4px solid #000 !important;
    margin-bottom: 40px;
}
.btn.m-btn.m-readMore span.fa{
    width:25px;
    height:25px;
    margin-left: 15px;
    font-size:14px;
    padding: 5px;
}

.btn.m-btn.m-readMore{
    font: 600 10px 'Open Sans',sans-serif;
    border:1px solid #eee;
    padding:3px 3px 3px 15px ; 
    text-transform: uppercase;  
}

.b-blog__posts-one a.b-items__cars-one-img-video{
    bottom: 22px;
    right:20px;
    left:auto;
    cursor:pointer;
}

.b-blog__posts-one-body-main-link{
    padding: 35px;
    margin-bottom: 40px; 
}

.b-blog__posts-one-body-main-link a{
    font: 600 18px 'Open Sans',sans-serif;
    cursor: pointer;
}

.b-blog__posts-one-body-main-link a span.fa{
    margin-right: 15px;
    font-size:26px;
    vertical-align: middle;
}

.m-blog .bxslider,.m-article .bxslider{
    padding: 0;
}

/* Blog two */

.m-blogTwo .b-blog__posts-one{
    border:1px solid #eee;
    padding: 35px 25px;
}

.m-blogTwo .b-blog__posts-one-body-head{
    padding-bottom: 20px;
    margin-bottom: 0;
}

.m-blogTwo .b-blog__posts-one-body-head:after{
    left:25px;
}

.m-blogTwo .b-blog__posts-one-body-head h2{
    margin: 15px 0 0 0;
    color: #000;
}

.b-blog__posts-one-info p{
    font: 300 13px 'Open Sans',sans-serif;
    margin: 20px 0 25px 0;
    line-height: 1.9;
}

.b-blog__posts-one-social em{
    font: 400 10px 'Open Sans',sans-serif;
    margin-right: 5px;
    vertical-align: middle;
}

.b-blog__posts-one-social span{
    margin-top: 9px;
    color: #999;
}

.b-blog__posts-one-social span:hover{
    margin-top: 9px;
    color: #f76d2b;
}

.m-blogTwo .b-blog__posts{
    padding-top: 0;
}

.m-blogTwo  .b-blog__posts-one{
    margin-bottom: 50px;
}

.m-blogTwo  .b-blog__posts-one-body-main-link{
    margin: 50px 0;
}

.m-blogTwo .b-items__pagination-main{
    margin: 25px 0 0 0;
}


/* Article */
.b-article{
    padding: 65px 0 135px 0;
}

.b-blog__posts-one-body-main > p{
    margin-bottom: 40px;
}

.b-blog__posts-one-body-main > blockquote{
    font: 400 13px 'Open Sans',sans-serif;
    padding:0 0 0 15px;
    line-height:1.9;
    border-left:4px solid #000;
    margin-bottom: 40px;
}

.b-blog__posts-one p.m-smallMargin{
    margin-bottom: 30px;
    margin-top: -10px;
}

.b-blog__posts-one-body-tags{
    font: 600 11px 'Open Sans',sans-serif;
}

.b-blog__posts-one-body-tags span.fa-tags{
    margin-right: 10px;
    font-size:16px;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
    vertical-align: bottom;
}

.b-blog__posts-one-body-tags a{
    font: 400 11px 'Open Sans',sans-serif;
    color: #999;
}
.b-world__item-val-circles span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.b-world__item-val-circles span.m-empty {
    border: 1px solid #dddddd;
    background: none!important;
}
.b-world__item-val {
    margin: 0;
    text-align: left;
}
.b-world__item-val-circles {
    display: inline-block;
}
.b-world__item-num {
    display: inline-block;
    padding: 3px 12px;
    border-radius: 13px;
    font: 400 10px 'Open Sans',sans-serif;
    border: 1px solid #dddddd;
    margin-left: 10px;
}

.b-blog__posts-one-body-tags a:after{
    content:',';
}

.b-blog__posts-one-body-tags a:last-child:after{
    content:'';
}

.m-article .b-blog__posts-one{
    margin-bottom: 55px;
    padding-bottom: 55px;
}

.b-article__main-related{
    padding-bottom: 60px;
}

.b-article__main-related-item{
    padding: 25px;
}

.b-article__main-related-item h5{
    margin: 0 0 15px 0;
    line-height:1.7;
}

.b-article__main-related-item h5 a{
    font: 600 14px 'Open Sans',sans-serif;
}

.b-article__main-author{
    padding: 40px 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 70px;
}

.b-article__main-author h3{
    margin: 0;
    border-left: 4px solid #fff;
    padding-left: 15px;
    font: 700 14px 'Open Sans',sans-serif;
    float:left;
}

.b-article__main-author h3 span{
    font: 400 14px 'Open Sans',sans-serif;
    margin-right: 3px; 
}

.b-article__main-author-social{
    margin-left: 40px;
    float:left;
}

.b-article__main-author-social > a{
    display: inline-block;
    width:22px;
    height:22px;
    border-radius: 100%;
    background: rgba(255,255,255,0.3);
    text-align: center;
    margin-right: 4px;
}

.b-article__main-author-social > a:hover{
    background: rgba(255,255,255,0.8);
}

.b-article__main-author-social > a span.fa{
    margin-top: 4px;
}

.b-article__main-author p{
    margin: 20px 0 0 0;
    font: 300 13px 'Open Sans',sans-serif;
    line-height: 1.9;
}

.b-article__main-author:after{
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    display: block;
    content: '';
    background: rgba(255,255,255,0.3);
}

.b-article__main-comments{
    padding-bottom: 55px;
    border-bottom:1px solid #eee;
    margin-bottom: 70px;
}

.b-article__main-comments-one{
    overflow: hidden;
    margin-bottom: 55px;
}

.b-article__main-comments-one-person{
    width:100px;
    float:left;
}

.b-article__main-comments-one-text{
    margin-left: 100px;
}

.b-article__main-comments-one-text-head{
    padding-bottom: 15px;
    border-bottom:1px solid #eee;
    overflow: hidden;
    margin-bottom: 15px;
}

.b-article__main-comments-one-text-head h6{
    font: 600 14px 'Open Sans',sans-serif;
    margin: 5px 0 10px 0;
}

.b-article__main-comments-one-text-head-date{
    font: 400 10px 'Open Sans',sans-serif;
    float:left;
}

.b-article__main-comments-one-text-head-date span{
    margin-right: 10px;
    text-transform: uppercase;
    color: #999;
}

.b-article__main-comments-one-text-head-answer{
    font-size:18px;
    margin-top: -5px;
}

.b-article__main-comments-one-text p{
    font: 300 13px 'Open Sans',sans-serif;
    line-height: 1.9;
}

.b-article__main-comments-one.m-second{
    margin-left: 100px;
}

.b-blog__posts-one-author-img.m-woomen{
    background-image: url(../img/personW.jpg);
}

.b-article__main-comments .row > div:last-child .b-article__main-comments-one{
    margin-bottom: 0;
}

.b-article__main-add input[type='text']{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 20px;
    font: 400 10px 'Open Sans',sans-serif;
    border: 1px solid #eeeeee;
    text-transform: uppercase;
    border-radius: 30px;
}

.b-article__main-add input[type='text']:focus,.b-article__main-add textarea:focus{
    outline: none;
}

.b-article__main-add input[type='text']::-webkit-input-placeholder {
    font: 400 10px 'Open Sans',sans-serif;
    color:#999;
}

.b-article__main-add input[type='text']:-moz-placeholder {
    font: 400 10px 'Open Sans',sans-serif;
    color:#999;
}

.b-article__main-add textarea{
    border-radius: 20px;
    margin-bottom: 40px;
    display: block;
    width: 100%;
    padding: 25px 20px;
    font: 400 10px 'Open Sans',sans-serif;
    border: 1px solid #eeeeee;
    text-transform: uppercase;
    height:130px;
}

.b-article__main-add button.btn.m-btn span.fa{
    width:25px;
    height:25px;
    margin-left: 15px;
    padding: 5px;
    font-size: 14px;
}

.b-article__main-add button.btn.m-btn{
    font: 700 12px 'Open Sans',sans-serif;
    padding-left: 18px;
}

@media (max-width: 1200px) and (min-width: 768px)
{
.carousel-indicators{
    bottom: 26%;
    left: 26%;
    font-size: 0;
}
.carousel-indicators li{
    all: unset;
}
.carousel-indicators li.active{
    all: unset;
}
.carousel-inner {
    margin-bottom: 30px;
    height: 310px;
}
.b-article__main-related-item {
    height: 170px;
}
.b-blog__aside .b-detail__main-aside-about-call > div {
    font-size: 19px;
}
}
@media screen and (max-width: 767px)
{
.carousel{
    margin-right: unset;
}
    
.carousel-indicators{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 0;
}
.carousel-indicators li{
    all: unset;
}
.carousel-indicators li.active{
    all: unset;
}
.carousel-inner {
    margin-bottom: 30px;
}
.carousel-indicators{
    display: none;
}
.carousel-indicators-sm{
    display: block;
    margin-bottom: 95px;
    width: 100%;
}
.carousel-inner, .carousel-inner .item{
    height: auto;
}
.carousel-indicators-sm li{
    list-style: none;
    float: left;
    position: relative;
    left: -40px;
    bottom: 26px;
}
.b-article__main-related-item {
    margin-top: 20px;
}
.b-article__main-related-item {
    height: 170px;
}
}
@media (max-width: 600px)
{
.b-blog__aside-popular-posts-one {
    float: left;
    width: 100%;
}
}
@media (min-width: 600px) and (max-width: 991px)
{
.b-blog__aside-popular-posts-one {
    float: left;
    width: 50%;
}
}
@media (max-width: 991px)
{
.m-article .b-blog__aside {
    margin-top: 40px;
}
.b-blog__aside .b-detail__main-aside-about-call > div {
    font-size: 19px;
}
}

.b-items__aside-sell-img {
    background: url(../img/sell.jpg) center no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
}
.b-article__main-related-item.wow.zoomInUp{
    background-color: #f5f5f5;
    padding: 25px;
}
.b-article__main-related-item h5 a, .b-article__main-related-item h5 a:hover {
    font: 600 14px 'Open Sans',sans-serif;
    color: #000;
}
.b-article__main-author {
    padding: 40px 30px;
    overflow: hidden;
    position: relative;
    margin-bottom: 70px;
    background-color: #f76d2b;
}
.b-article__main-author-social > a {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background: rgba(255,255,255,0.3);
    text-align: center;
    margin-right: 4px;
}
.b-article__main-author-social > a:hover {
    background: rgba(255,255,255,0.8);
}
.b-article__main-author p {
    margin: 20px 0 0 0;
    font: 300 13px 'Open Sans',sans-serif;
    line-height: 1.9;
    color: #FFF;
}
.b-article__main-author h3 span {
    font: 400 14px 'Open Sans',sans-serif;
    margin-right: 3px;
    color: #FFF;
}
.b-article__main-author h3 {
    color: #FFF;
    margin: 0;
    border-left: 4px solid #fff;
    padding-left: 15px;
    font: 700 14px 'Open Sans',sans-serif;
    float: left;
}
form .btn.m-btn {
    background-color: #f76d2b;
    color: #FFF;
}

form .btn.m-btn:hover {
    background-color: #555;
    color: #FFF;
}
.btn.m-btn span.fa{
    background-color: #FFF;
    color: #555;
}
form .btn.m-btn:hover span.fa{
    background-color: #f76d2b;
    color: #FFF
}
.s-shadow {
    position: relative;
    box-shadow: 0px 30px 100px -38px rgba(0,0,0,0.3);
    z-index: 100;
}
.b-items__aside-sell-img h3 {
    margin: 25px 0 0 0;
    padding: 0 10px;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    font: 700 20px 'Open Sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    color: #FFF;
}
.b-items__aside-sell {
    margin-top: 45px;
}
.b-items__aside-sell-info {
    padding: 20px 25px 30px 25px;
    text-align: left;
    font: 400 13px 'Open Sans',sans-serif;
    background-color: #2475ce;
    color: #FFF;
}
.b-items__aside-sell-info a.btn.m-btn:hover {
    background: #fff !important;
    color: #666!important;
}
.b-items__aside-sell-info a.btn.m-btn:hover span.fa{
    background-color: #f76d2b;
    color: #FFF;
}
.b-items__aside-sell-info a {
    border: 1px solid #fff;
    font: 600 11px 'Open Sans',sans-serif!important;
    padding-left: 15px!important;
    margin-top: 15px;
    background: transparent !important;
    color: #FFF !important;
}
.b-items__aside-sell-info a span.fa {
    width: 25px!important;
    height: 25px!important;
    font-size: 13px!important;
}
.b-detail__main-aside-about-call span.fa {
    display: block;
    height: 100%;
    font-size: 34px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px 15px 0 15px;
    color: #FFF;
    background: #808080;
}
.b-detail__main-aside-about-call {
    padding: 20px 0 25px 80px;
    position: relative;
}
.b-detail__main-aside-about-call p {
    font: 400 11px 'Open Sans',sans-serif;
    margin: 0;
    color: #ddd;
}
.b-detail__main-aside-about-call > div {
    font: 700 26px 'Open Sans',sans-serif;
}
