.option-box
{
    background-color: #de483d !important;
}
.b-nav__logo h3 a
{
    color: #de483d !important;
}
nav .navbar-nav li a:hover {
    border-bottom: 3px solid #de483d !important;
}
.carousel-caption p span 
{
    background: #de483d !important;
}
.find__main-title
{
background:#de483d !important;
}
.find__main-type svg:hover g{
    fill: #de483d !important
}
.ui-slider-handle:after
{
    background: #de483d !important;
}
.find__main-form-submit a
{
    color: #de483d !important;
}
.find__main-form-submit button.btn.m-btn:hover
{
    background: #de483d !important;
}
.b-featured__item-price
{
    background: #de483d !important; 
}
.welcome, .welcome .container
{
    background: #de483d !important; 
}
.welcome__services-img:hover
{
    background: #de483d !important;
}
.world__item-val-circles span
{
    background: #de483d !important;
}
.world__item h2
{
    border-left: 3px solid #de483d !important;
}
.world__item a:hover
{
    background: #de483d !important;
}
.ask .ask__first:hover
{
    background: #de483d !important;
}
.auto__main-nav li.active a
{
    color: #de483d !important;    
}
.auto__main-toggle:hover
{
     color: #de483d !important; 
}
.auto__main-item-info .m-price
{
     background: #de483d !important ;
}
.count
{
    background: #de483d url(../../img/count.png) right top no-repeat;
}
.contact__form button
{
    background: #de483d !important ;
}
.contact-title h5
{
    background: #de483d !important ;
}
.review__main h5 em
{
    color: #de483d !important;    
}
.info__latest > h3, .info__aside-article > h3, .info__twitter > h3, .info__contacts > p
{
    color: #de483d !important;    
}
.features
{
    background: #de483d !important ;
}
.features
{
    background: #de483d !important ;
}
span.caret{
    color: #de483d !important;
}
header .container span{
    color: #de483d !important;
}
.s-title {
    border-left: 4px solid #de483d !important ;
    border-right: 4px solid #de483d !important ;
}
.welcome__services-circle{
    border: 10px solid #de483d !important;
}
.auto__main-nav li:hover a {
    color: #de483d !important;
}
.count .m-main {
    background-color: #de483d !important;
}
.find__main-form select + span.fa{
    color: #de483d !important;
}
.carousel-caption h3{
    border-left: 4px solid #de483d !important;
    border-right: 4px solid #de483d !important;
}
.m-home .find__main-type >h4{
    color: #de483d !important;
}
.find__main-form-submit button.btn.m-btn:hover span.fa{
    background-color: #fff !important   ;
}
span.b-world__item-num {
    background-color: #de483d !important;
    border-color: #de483d !important;
}
.b-auto__main-item.wow.zoomInUp .m-price{
    background-color: #de483d !important;
}
.m-home .auto__world-item-info > h2:before {
    height: 20px;
    border-left: 3px solid #de483d !important;
}
.m-home .count__item h2 {
    color: #de483d !important;
}
.m-home .b-homeReviews__main-body:after {
    content: '';
    background: #de483d !important;
}
.m-home .b-homeReviews__main-person-name em {
    color: #de483d !important;
}
/***/
.info__aside {
    border-top: 3px solid #de483d !important;
}
.b-pageHeader__search {
    background-color: #de483d !important;
}
span.fa.fa-list{
    color: #de483d !important;
}
span.fa.fa-table:hover {
    color: #de483d !important;
}
.b-infoBar__compare-item span.fa{
    color: #de483d !important;
}
span.fa.fa-caret-down{
    color: #de483d !important;
}
span.fa.fa-clock-o{
    color: #de483d !important;
}
.b-items__aside-main-body-item .ui-widget-header {
    background-color: #de483d !important;
}
.b-items__cars-one-info-header > span{
    background-color: #de483d !important;
}
.b-items__cars-one-info-header h2 {
    border-left: 4px solid #de483d !important;
}
.b-items__aside-main-footer button.btn.m-btn{
    background: #de483d !important;
}
.b-items__aside-sell-info a.btn.m-btn:hover span{
    background-color: #de483d !important;
    color: #fff;
}
.m-listingsTwo .b-items__cars-one-info-price h4 {
    color: #de483d !important;
}
.b-items__cell-info h2 {
    border-left: 4px solid #de483d !important;
}
.b-items__cell-info-price {
    color: #de483d !important;
}
.b-items__pagination-main > span:first-of-type a {
    color: #de483d !important;
}
.m-compare .b-infoBar h5 span {
    color: #de483d !important;
}
.b-compare__images-item-price {
    background-color: #de483d !important;
}
.b-compare__block-title > a {
    border-bottom: 46px solid #de483d !important;
}
.s-titleDet {
    border-left: 4px solid #de483d !important;
}
.b-best__info-head h2 {
    border-left: 4px solid #de483d !important;
}
.b-world__item h2 {
    border-left: 3px solid #de483d !important;
}
.b-more__info-block-title a {
    border-bottom: 46px solid #de483d !important;
}
span.fa.fa-check{
    color: #de483d !important;
}
.m-404 span.fa.fa-search{
    color: #de483d !important;
}
.m-blogTwo span.fa.fa-search{
    color: #de483d !important;
} 
.b-blog__aside-categories-list li:hover a, .b-blog__aside-categories-list li.m-active a {
    color: #de483d !important ;
    border-color: #de483d !important;
}
.b-blog__posts-one p a {
    color: #de483d !important ;
}
span.fa.fa-calendar-o{
    color: #de483d !important;
}
.b-article__main-author {
    background-color: #de483d !important;
}
.s-titleLeft h2 {
    border-left: 4px solid #de483d !important;
}
span.fa.fa-long-arrow-left{
    color: #de483d !important;
}
.s-titleLeft h2 {
    border-left: 4px solid #de483d !important;
}
.b-blog__posts-one-body-main-link {
    padding: 35px;
    background-color: #de483d !important;
    margin-bottom: 40px;
}
.b-items__pagination-main span:hover a {
    color: #de483d !important;
}
.b-error h2 {
    color: #de483d !important;
}
.s-headerSubmit h2 {
    border-left: 4px solid #de483d !important;
}
.b-submit__aside-step-inner.m-active {
    background-color: #de483d !important;
}
.b-submit__aside-step-inner-info-triangle {
    border-left-color: #de483d !important;
}
.b-infoBar__progress-line-step-circle-inner.m-active {
    background-color: #de483d !important;
}
.s-submit label span{
    color: #de483d !important;
}
.b-submit__aside-step-inner-info h4 {
    border-left: 4px solid #de483d !important;
}
.b-contacts__address-info-main-item span.fa {
    color: #de483d !important;
}
.b-detail__head-title {
    border-left: 4px solid #de483d !important;
}
.b-detail__main-aside-about-seller {
    background: #de483d !important;
}
.b-detail__main-aside-about-form-links a.m-active, .b-detail__main-aside-about-form-links a:hover {
    color: #de483d !important;
}
.b-detail__main-info-characteristics-one:hover .b-detail__main-info-characteristics-one-top > div {
    background: #de483d !important;
}
.b-detail__main-info-text .b-detail__main-aside-about-form-links a.m-active, .b-detail__main-info-text .b-detail__main-aside-about-form-links a:hover {
    color: #de483d !important;
}
.m-index .carousel-caption .btn {
    background-color: #fff;
}
.m-index .carousel-caption .btn:hover {
    background-color: #de483d !important;
    color: #FFF;
}
.m-index .carousel-caption .btn.m-btn:hover span.fa{
background-color: #FFF;
color: #555555;
}   
.m-home .carousel-caption .btn{
    background-color: #de483d !important;
}
.m-home .carousel-caption .btn:hover{
    background-color: #FFF !important;
}
.navbar-default .navbar-nav>.open>a:focus,.nav .open>a:focus,.nav .open>a:focus, .nav .open>a:hover{
    border-color: #de483d !important ;
}
nav .navbar-nav li a:hover {
    border-bottom: 3px solid #de483d !important ;
}
.find__main-form-submit .index-btn span.fa{
    background: #de483d !important;
}
.home-2-btn span{
    background-color: #de483d !important;
}
.home-2-count .m-main{
    background-color: #f5f5f5 !important;
}
.home-2-count .count__item-circle{
    background-color: transparent;
}
.home-2-count .count__item-circle:hover {
    background: #de483d;
    border-color: #de483d;
}
.m-home .auto__world.home-2 > a:hover,.info__aside > a.btn.m-btn:hover {
    background: #de483d;
    border-color: #de483d;
}
.listing-details .btn.m-btn:hover{
    background-color: #de483d;
    border: none;
}
.infoBar-btn .btn:hover,.b-compare__links a.btn.m-btn:hover{
    border: 1px solid #de483d !important;
    background-color: #de483d;
}
.b-compare__links a.btn.m-btn span.fa{
    background-color: #de483d;
}
.about-btn .btn:hover{
    background-color: #de483d;
}
span.fa.fa-calendar-o.no{
    color: #999 !important;
}
.b-blog__posts-one-social span:hover {
    color: #de483d;
}
.fa.fa-search.no{
    color: #de483d;
}
.b-blog__posts-one-body-tags span.fa-tags{
    color: #de483d;
}
form .btn.m-btn,form .btn.m-btn:hover span.fa{
    background-color: #de483d ;
}
.b-article__main-author-social > a span.fa{
    color: #de483d;
}
.b-personal__worker-img-social span.fa{
    color: #de483d;
}
.m-blog .btn.m-btn.m-readMore:hover,.m-blogTwo .btn.m-btn.m-readMore:hover{
    background-color: #de483d;
}
.m-blogTwo .b-blog__posts-one-body-head-notes-note span{
    color: #de483d !important;
}
.m-submit3 .b-submit__main-file label.btn.m-btn span.fa:last-of-type{
    background-color: #de483d;
}
.b-submit__main-contacts-price-input-usd{
    background-color: #de483d;
}
.submit5 .b-submit__main-contacts-price-plan > a{
    background-color: #de483d;
}
.submit5 .b-submit__main-plan-money, .submit5 span.b-submit__main-plan-money-num{
    color: #de483d;
}
.submit5 form .btn.m-btn:hover span.fa{
    background-color: #555 !important;
}
.submit5 form .btn.m-btn:hover{
    background-color: #de483d;
    border: none;
}
.m-contacts .s-form .btn.m-btn:hover span.fa{
    background-color: #de483d !important;
}
.m-detail .btn.m-btn.m-infoBtn:hover,.m-detail .b-detail__head-price-num,.m-detail .b-auto__main-item-info .m-price,.m-detail .b-detail__main-aside form button.btn.m-btn{
    background-color: #de483d;
}
.m-detail .b-detail__main-aside form button.btn.m-btn:hover span{
    background-color: #de483d !important;
}
.m-detail .b-detail__main-aside form button.btn.m-btn:hover{
    background-color: #FFF;
}